.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.delete-button {
  margin-left: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.delete-button:hover {
  background-color: #fbe9e7;
  color: #c62828;
  border-color: #c62828;
  transform: scale(1.05);
}
